body {
    
    background-color: black;
    margin: 0rem;
    overflow-x: hidden;
    font-family: system-ui;
    font-size: 16px;
    line-height: 1.5;
    padding: 80px 40px;
    color:white;
  }
  
  
::-webkit-scrollbar{
    width: 0px;
  }
  ::-webkit-scrollbar-track{
    background-color: black;
  }
.links{
  padding:20px 100px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.links a{
  font-size:24px;
  color:white;
  font-family: monospace;
  text-decoration: none;
  font-weight:600;
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}


.links a:hover {
  color: white; 
  text-shadow: 0 0 5px white,   
               0 0 10px white,  
               0 0 15px white,  
               0 0 20px white; 
}

.fleetDesc{
  text-align:center;
  font-family:monospace;
}

.glow-button:hover {
    color: white; 
    box-shadow: 0 0 8px white, 
                0 0 20px white, 
                0 0 30px white, 
                0 0 40px white; 
  }

.tow{
    display:flex;
    margin:auto;
    margin-top:30px;
    margin-bottom:30px;
    width:30%;
}

h1{
    font-family: monospace;
    text-align:center;
}

.arrow {
    width: 50px; 
    margin:auto;
    margin-left:50%;
    margin-top:50px;
  }
  .arrow2 {
    width: 50px; 
    margin:auto;
    margin-left:20px;
    margin-top:50px;
  }


  .HelpDesc{
    font-family:monospace;
    text-align:center;
    margin-left:200px;
    margin-right:200px;
    margin-top: 150px;
  }

h2{
    font-family:monospace;
    text-align:center;
    margin-left:200px;
    margin-right:200px;
}